.cas-profile-top {
  margin: 25px 0 15px 0;
}

.cas-profile-top-head {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #01010b;
}

.cas-profile-team {
  color: #008080;
}

#cas-player-details,
#cas-player-info {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
}

#cas-player-profile {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

#cas-player-profile img {
  border-radius: 5px;
  width: 150px;
  height: 150px;
}

#cas-player-name {
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: center;
  color: #01010b;
  margin: 15px 0 5px 0;
}

#cas-player-description {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #008080;
  margin: 5px auto;
}

#cas-player-info {
  margin-top: 40px;
}

#cas-player-info-title {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #01010b;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cas-label {
  font-size: 14px;
  color: #01010b;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.cas-player-counter {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #01010b;
  word-break: break-word;
}

.cas-pic-edit {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  padding: 5px;
  border: solid 2px #ffffff;
  background-color: #008080;
  position: absolute;
  bottom: -13px;
  right: 40%;
  border-radius: 50%;
  cursor: pointer;
}

.cas-edit-img {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-left: 2px;
}

.custom-file-input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  z-index: -1;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  padding-top: 36px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.text-right {
  text-align: right;
}

tr:last-child td {
  border-bottom: none;
  padding-bottom: 0px;
}

#cas-add {
  color: #008080;
}
