.cas-team-container {
  margin: 25px 0px;
  border: 1px solid #ececec;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 1px rgb(0 0 0 / 30%);
  -webkit-box-shadow: 2px 2px 7px 1px rgb(0 0 0 / 30%);
  -moz-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.table {
  margin-bottom: 0px;
}

tr:last-child td {
  border-bottom: none;
  padding-bottom: 0px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.cas-active {
  color: #008080;
}
